<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <a href="/admin/add-blog">Add Blog</a>
        <a class="home-link" href="/">Home</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </header>
    <% if (blogs.length > 0) { %>
        <div class="grid">
            <% for (let blog of blogs) { %>
            <article class="card blog-card">
                <div class="card__order">
                    <h2><%= blog.order %></h2>
                </div>
                <div class="card__title">
                    <b><%= blog.title %></b>
                </div>
                <div class="card__blog">
                    <% firstP = blog.blog.indexOf("<p>") %>
                    <% lastIndex = blog.blog.indexOf("<", firstP + 30) %>
                    <% if (lastIndex > (firstP + 403)) { %>
                        <% let newBlog = blog.blog.substring(firstP + 3, firstP + 403).split(' ') %>
                        <% newBlog.pop() %>
                        <%- newBlog.join(' ') + '...' %>
                    <% } else { %>
                        <% let newBlog = blog.blog.substring(firstP + 3, lastIndex-1).split(' ') %>
                        <% newBlog.pop() %>
                        <%- newBlog.join(' ') + '...' %>
                    <% } %>
                </div>
                <div class="card__actions">
                    <a href="/admin/edit-blog/<%= blog.title %>?edit=true" class="btn">Edit</a>
                    <br><br/>
                    <form action="/admin/delete-blog" method="POST">
                        <input type="hidden" value="<%= blog.title %>" name="blogTitle">
                        <button class="btn" type="submit">Delete</button>                    
                    </form>
                </div>
            </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Blogs Found!</h1>
    <% } %>
</body>
</html>