<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <nav id="mainNav">
        <div class="header__logo">
            <h1>Bytes<span class="logo-center">Of</span>Advice</h1>
        </div>
        <ul class="header__content">
            <li class="header__link"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Blog</a></li>
            <li class="header__link"><a class="<%= path === '/services' ? 'active' : '' %>" href="/services">Services</a></li> 
        </ul>
    </nav>

    <section class="blog__section">
        <% for (let blog of blogs) { %>
            <div class="card blog__card">
                <div class="blog__image">
                    <% let firstIndex = blog.blog.indexOf("http") %>
                    <% let secondIndex = blog.blog.indexOf('"', firstIndex) %>
                    <img src="<%= blog.blog.substring(firstIndex, secondIndex) %>">
                </div>
                <div class="blog__info">
                    <ul>
                        <% let newBlog = blog.blog.substring(0, 400).split(' ') %>
                        <% newBlog.pop() %>
                        <%- newBlog.join(' ') + '...' %>
                        <li>
                            <button>Read More</button>
                        </li>
                    </ul>
                </div>
            </div>
        <% } %>
    </section>

</body>
</html>