<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <nav id="mainNav">
        <div class="header__logo">
            <h1>Bytes<span class="logo-center">Of</span>Advice</h1>
        </div>
        <ul class="header__content">
            <li class="header__link"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Blog</a></li>
            <li class="header__link"><a class="<%= path === '/services' ? 'active' : '' %>" href="/services">Services</a></li> 
        </ul>
    </nav>

    <section class="side__bar">
        <div class="side__title">
            Blogs
        </div>
        <hr>
        <ul>
            <% for (let blog of blogs) { %>
                <li>
                    <a href="/blog/<%= blog._id %>"><%= blog.title %></a>
                </li>
                <br/>
            <% } %>
        </ul>
    </section>

    <section class="blog__section" id="mainBlogs">
        <% if (blogs.length < 10) { %>
            <% for (let blog of blogs) { %>
                <form class="card blog__card" action="/blog/<%= blog._id %>" method="POST">
                    <div class="blog__image">
                        <% let firstIndex = blog.blog.indexOf("http") %>
                        <% let secondIndex = blog.blog.indexOf('"', firstIndex) %>
                        <img src="<%= blog.blog.substring(firstIndex, secondIndex) %>">
                    </div>
                    <div class="blog__info">
                        <ul>
                            <li>
                                <b><%= blog.title %></b>
                            </li>
                            <li>
                                <% firstH5 = blog.blog.indexOf("<h5>") %>
                                <% secondH5 = blog.blog.indexOf("</h5>") %>
                                <% let newDate = blog.blog.substring(firstH5, secondH5 + 5) %>
                                <%- newDate %>
                            </li>
                            <div class="blog-details">
                                <% firstP = blog.blog.indexOf("<p>") %>
                                <% lastIndex = blog.blog.indexOf("<", firstP + 30) %>
                                <% if (lastIndex > (firstP + 380)) { %>
                                    <% let newBlog = blog.blog.substring(firstP + 3, firstP + 380).split(' ') %>
                                    <% newBlog.pop() %>
                                    <%- newBlog.join(' ') + '...' %>
                                <% } else { %>
                                    <% let newBlog = blog.blog.substring(firstP + 3, lastIndex-1).split(' ') %>
                                    <% newBlog.pop() %>
                                    <%- newBlog.join(' ') + '...' %> 
                                <% } %>
                            </div>
                            <li>
                                <button type="submit">Read More</button>
                            </li>
                        </ul>
                    </div>
                </form>
            <% } %>
        <% } else { %>
            <% for (var i = 0; i < 6; i++ ) { %>
                <form class="card blog__card" action="/blog/<%= blogs[i]._id %>" method="POST">
                    <div class="blog__image">
                        <% let firstIndex = blogs[i].blog.indexOf("http") %>
                        <% let secondIndex = blogs[i].blog.indexOf('"', firstIndex) %>
                        <img src="<%= blogs[i].blog.substring(firstIndex, secondIndex) %>">
                    </div>
                    <div class="blog__info">
                        <ul>
                            <li>
                                <b><%= blogs[i].title %></b>
                            </li>
                            <li>
                                <% firstH5 = blogs[i].blog.indexOf("<h5>") %>
                                <% secondH5 = blogs[i].blog.indexOf("</h5>") %>
                                <% let newDate = blogs[i].blog.substring(firstH5, secondH5 + 5) %>
                                <%- newDate %>
                            </li>
                            <div class="blog-details">
                                <% firstP = blogs[i].blog.indexOf("<p>") %>
                                <% lastIndex = blogs[i].blog.indexOf("<", firstP + 30) %>
                                <% if (lastIndex > (firstP + 380)) { %>
                                    <% let newBlog = blogs[i].blog.substring(firstP + 3, firstP + 380).split(' ') %>
                                    <% newBlog.pop() %>
                                    <%- newBlog.join(' ') + '...' %>
                                <% } else { %>
                                    <% let newBlog = blogs[i].blog.substring(firstP + 3, lastIndex-1).split(' ') %>
                                    <% newBlog.pop() %>
                                    <%- newBlog.join(' ') + '...' %> 
                                <% } %>
                            </div>     
                            <li>
                                <button type="submit">Read More</button>
                            </li>
                        </ul>
                    </div>
                </form>
            <% } %>
        <% } %>
    </section>
    <footer class="footer small text-center text-black-50"><div class="container">Copyright © BytesOfAdvice 2021</div></footer>
</body>
</html>